.table_wrap {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #000;

    .bar {
        width: 100%;
        height: 3rem;
        // background-color: pink;
        display: flex;
        align-items: center;
        // margin-bottom: 0.5rem;
        padding: 0 1rem;

        p {
            span {
                &:nth-of-type(1) {
                    font-size: 0.8rem;

                }

                &:nth-of-type(2) {
                    font-weight: 600;
                    font-size: 1.4rem;
                    margin-right: 0.5rem;
                }

                &:nth-of-type(3) {
                    color: #F38219;
                    font-weight: 600;
                    font-size: 1.5rem;
                }
            }
        }
    }



    .order_ul {
        width: 100%;
        height: auto;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;


        .p_item {
            width: 95%;
            height: auto;
            margin-bottom: 1rem;
            // border: 1px solid #000;
            box-shadow: 0 0 1rem 0 rgba(9, 44, 76, 0.2);
            border-radius: 0.6rem;
            padding: 0 0.8rem 0 0.5rem;
            box-sizing: border-box;

            &:nth-of-type(1) {
                margin-top: 1rem;
            }


            .p_content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: 1px solid rgb(245, 245, 245);
                margin: 1rem 0 0 0;

                // align-items: center;
                >div {
                    margin-bottom: 1rem;
                    position: relative;
                }

                .p_total {
                    font-weight: 600;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 1.2rem;
                }

                aside {
                    display: flex;
                    align-items: center;

                    .p_desc {
                        p {
                            font-size: 0.9rem;

                            &:nth-of-type(1) {
                                font-weight: 500;
                                margin-bottom: 0.6rem;
                            }

                            &:nth-of-type(2) {
                                color: #999;
                            }
                        }
                    }

                    .p_img_box {
                        width: 3.6rem;
                        height: 3.6rem;
                        border-radius: 0.6rem;
                        overflow: hidden;
                        margin-right: 1rem;

                        img {
                            width: 3.6rem;
                            height: 3.6rem;
                        }
                    }
                }
            }

            .p_title {
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgb(245, 245, 245);
                height: 2.3rem;
                justify-content: space-between;

                span {
                    font-weight: 600;
                    font-size: 0.9rem;

                }

                p {
                    width: auto;
                    color: #999;
                    font-size: 0.75rem;
                }
            }


            .p_footer {
                height: 3rem;
                margin-top: 0.4rem;

                span {
                    color: #F38219;

                    &:nth-of-type(1) {
                        color: #000;
                        font-size: 0.9rem;
                    }

                    &:nth-of-type(2) {
                        font-size: 1.4rem;
                        font-weight: 600;
                    }

                    &:nth-of-type(3) {
                        font-weight: 600;
                        font-size: 1.8rem;
                    }
                }
            }

        }
    }
}