.home_wrap {
    height: 100%;
    overflow: hidden;




    .tab {
        height: 5%;
        background-color: #fff;
        box-shadow: 0 1px 8px rgb(233, 233, 233);

        ul {
            height: 100%;
            display: flex;
            align-items: center;
            width: auto;
            overflow-y: scroll;

            li {
                margin-right: 4%;
                transition: 300ms;

                &:nth-of-type(1) {
                    margin-left: 4%;
                }
            }
        }
    }

    .food_wrap {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-left: 1rem;
        // background-color: #F6F8FB;

        .food {
            width: 44.2%;
            height: 100%;
            display: flex;
            // border: solid 1px #000;
            border-radius: 0.6rem;
            margin-right: 1rem;
            margin-bottom: 0.9rem;
            box-shadow: 0px 0px 10px 0px rgba(9, 44, 76, 0.1);
            overflow: hidden;

            .food_item {
                width: 100%;
                height: 11rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .img_wrap {
                    height: 60%;
                    overflow: hidden;
                    position: relative;

                    img {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                p {
                    text-indent: 0.6rem;
                }

                .price {
                    // text-indent: 0.6rem;
                    margin-bottom: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .new {
                        font-weight: 700;
                        font-size: 1rem;
                        margin-right: 0.2rem;
                    }

                    .old {
                        text-decoration: line-through;
                        font-size: 0.6rem;
                    }

                    i {
                        font-style: initial;
                    }
                }
            }
        }
    }
}

.cart_input_wrap {}