// * {
//     background-color: #000;
// }
.tabBox {
    list-style: none;
    position: fixed;
    top: 0;

    ul {
        display: flex;

        li {
            margin-right: 10px;
        }
    }
}

.loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 100%;
    }

    h2 {
        text-align: center;
        color: rgb(92, 92, 92);
    }
}