.title {
    position: relative;
    width: 100%;
    height: 27%;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;

    .add {
        background-color: #F38219;
        line-height: 1.5rem;
        font-size: .9rem;
        letter-spacing: .15rem;
        text-align: center;
        width: 4.5rem;
        height: 1.5rem;
        position: absolute;
        right: 2rem;
        top: 56%;
        transform: translateY(-50%);
        border-radius: 2rem
    }

    .cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -99;
    }

    .mask {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(black, rgba(0, 0, 0, 0.25));
        z-index: -98;
        position: absolute;

    }

    .float_content {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);

        h2 {
            font-weight: 600;
            font-size: 1.7rem;
        }

        h3 {
            font-size: 1rem;
        }

        p {
            margin-top: 0.35rem;
            font-size: 0.6rem;
            text-indent: -0.1rem;
        }

        svg {
            vertical-align: bottom;
            margin-right: 4px;
        }
    }
}